html {
	height: 100%;
	display: flex;
	background: hsl(220 10% 50%);
}

body {
	max-width: 85vw;
	max-inline-size: 85vw;
	box-sizing: border-box;
	margin: auto;
	padding: 1em 3em 2em;
	border-radius: 0.5em;
	background: hsl(0 0% 100% / 0.9);
	box-shadow: 1px 1px 10px rgb(0 0 0 / 0.5);
	font: 150%/1.5 Helvetica Neue, sans-serif;
	text-align: center;
}

body:not(:has(footer)) {
	padding-bottom: 1em;
	padding-block-end: 1em;
}

h1 {
	font-size: inherit;
}

h1 a {
	display: block;
}

body img {
	height: 4em;
	block-size: 4em;
}

footer {
	display: flex;
	gap: 1em;
}

button {
	flex: 1;
	padding: 0.3em 1em;
	border: none;
	border-radius: 0.3em;
	font: inherit;
	font-weight: bold;
	color: white;
	cursor: pointer;
	box-shadow: 0 0 hsl(0 0% 100% / 0.2) inset;
	transition: 0.4s box-shadow;
}

button:hover {
	box-shadow: 0 1em hsl(0 0% 100% / 0.2) inset;
}

button.yes {
	background: hsl(85 80% 45%);
}

button.no {
	background: hsl(0 80% 45%);
}
